<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="High Speed Suite" verbose="1" parallel="classes" thread-count="2">
    <test name="Run on Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="org.example.tests.RegistrationTest"/>
            <class name="org.example.tests.LoginTest"/>
            <class name="org.example.tests.SearchTest"/>
            <class name="org.example.tests.AddToCartTest"/>
            <class name="org.example.tests.CartTest"/>
            <class name="org.example.tests.CheckoutTest"/>
            <class name="org.example.tests.AddProductTest"/>
        </classes>
    </test>

</suite>