name: Selenium Automation CI

# Activated when code is pushed to the main branch.
on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # 1. Download code to the virtual machine.
      - name: Checkout Code
        uses: actions/checkout@v4

      # 2. Install Java 22
      - name: Set up JDK 22
        uses: actions/setup-java@v4
        with:
          java-version: '22'
          distribution: 'temurin'

      # 3. Run Test with Maven
      - name: Run TestNG Suite
        run: mvn test -DsuiteXmlFile=src/test/resources/suites/testng.xml

      # 4. Save Allure/Surefire report
      - name: Upload Test Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: target/surefire-reports/